*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container {
    padding: 30px;
    display: flex;
    background-image: url(./imagens/fundonoti.jpg);
    color: #dffffa;
    text-decoration: underline;
    justify-content: space-around;
    align-items: center;
}
ul li a:hover{
    color: gold;
    font-size: 18px;
}


main p:hover {
    color: gold;
}

main h2:hover {
    color: gold;
}

.esportes {
    padding: 30px;
    background-image: url(./imagens/fundoespo.jpg);
    color: white;
}

.cN {
    display: flex;
    flex-direction: row-reverse;
}

.NoticiaSportes {
    padding: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.economia {
    padding: 30px;
    background-image: url(./imagens/fundomoney.png);
    color: rgb(255, 255, 255);
}

.games {
    padding: 30px;
    background-image: url(./imagens/fundogame.jpg);
    color: white;
}

.agro {
    padding: 30px;
    background-image: url(./imagens/fundoagri.jpg);
    color: white;
}

body{
 font-family: Arial, Helvetica, sans-serif;
}

body img{
    width: 500px;
}

h2{
    text-align: center;
    font-size: 35px;
}

section h3{
    font-size: 22px;
}

article {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h3:hover{
    color: gold;
}

img:hover {
    width: 600px;
}

section a {
    text-decoration: none;
    color: white;
}

section a:hover{
    color: gold;
    font-size: 20px;
}